<p>
  <strong>Name:</strong>
  <%= @applicant.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @applicant.email %>
</p>

<p>
  <strong>Challenge:</strong>
  <%= @applicant.challenge.title %>
</p>

<!--- S3 다운로드
<p>
  <strong>File:</strong>
  <%= link_to 'Download', @applicant.attachments3_url %>
</p>
--->

<table>
  <tr>
    <td>
      <strong>WebGL_Build : </strong>
    </td>
    <td>
      <%= button_to 'Build', building_applicant_path %>
    </td>
  </tr>
</table>

<p>
  <strong>View_Site:</strong>
  <% id = ((@applicant.id).to_s) %>
  <% host_ip = Socket.ip_address_list.detect{|intf| intf.ipv4_private?}.ip_address %>
  <%= link_to 'Link', 'http://' + host_ip + ':110' + id, :target => '_blank'%>
</p>

<%= link_to 'Edit', edit_applicant_path(@applicant) %>|
<%= link_to 'Back', applicants_path %>