<p>
  <strong>Name:</strong>
  <%= @applicant.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @applicant.email %>
</p>

<p>
  <strong>Challenge:</strong>
  <%= @applicant.challenge.title %>
</p>

<p>
  <strong>File:</strong>
  <%= link_to 'Download', applicants_path%>
</p>

<p>
  <strong>View_Site:</strong>
  <% id = ((@applicant.id).to_s) %>
  <%= link_to 'Link', 'http://localhost:100' + id, :target => '_blank'%>
</p>

<%= link_to 'Edit', edit_applicant_path(@applicant) %>|
<%= link_to 'Back', applicants_path %>