<p>
  <strong>Name:</strong>
  <%= @applicant.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @applicant.email %>
</p>

<p>
  <strong>Challenge:</strong>
  <%= @applicant.challenge.title %>
</p>

<p>
  <strong>File:</strong>
  <%= link_to 'Page', page_applicant_path(@applicant)%>
</p>

<p>
  <strong>View_Site:</strong>
  <%= link_to 'Link', page_applicant_path(@applicant)%>
</p>

<%= link_to 'Edit', edit_applicant_path(@applicant) %>|
<%= link_to 'Back', applicants_path %>